{
	"printWidth": 120,
	"singleQuote": false,
	"trailingComma": "none",
	"useTabs": true,
	
	"overrides": [
		{
			"files": "**/*.yml",
			"options": {
				"singleQuote": true,
				"useTabs": false
			}
		}
	]
}
